* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: .5rem 0;
  font-size: 2.5rem;
}

label {
  width: 7.5rem;
}

.wrap-input {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.color-square {
  background-color: rgb(0, 0, 0);
  border-radius: 30%;
  border-style: solid;
  box-shadow: .4rem .4rem .2rem grey;
  height: 12.5rem;
  margin: 1rem 0;
  width: 12.5rem;
}